body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color: white;
  background-color: black;
  max-width: 100vw;
}

h2,
h3,
h4,
nav {
  color: #feffc9;
  text-decoration-color: #feffc9;
}

a,
#get a:hover {
  color: inherit;
  text-decoration: underline;
  text-decoration-color: inherit;
}

a:hover,
#get a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
    144deg,
    rgba(255, 255, 230, 0.55) 0%,
    rgba(255, 255, 216, 0.43) 48%,
    rgba(255, 255, 201, 0.2) 100%
  );
}

header #main {
  height: 50vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

h1,
h2 {
  font-weight: 600;
}

h1 {
  font-size: 3em;
  margin: 20px auto 57px;
}

h2 {
  font-size: 2.4em;
  margin: 0 auto;
  display: flex;
}

h2 img {
  height: auto;
  width: 40px;
  margin-right: 18px;
}

nav a {
  font-size: 1.125em;
  font-weight: 500;
  margin-right: 1.875em;
}

nav a:last-of-type {
  margin-right: 0;
}

#screenshot {
  width: 100vw;
  max-width: 1136px;
  margin-bottom: -125px;
}

section,
footer {
  margin-top: 15vh;
}

#features {
  overflow-x: hidden;
}

.feature {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  text-align: left;
  margin-bottom: 7vh;
}

.description {
  max-width: 380px;
  margin-left: 5vw;
}

.feature:nth-child(2n) .description {
  margin-left: 0;
  margin-right: 5vw;
}

h3 {
  font-size: 1.94em;
  font-weight: 500;
  margin: 0 0 11px;
}

h4,
span {
  font-size: 1.32em;
}

.platformName,
#other-platform-names {
  font-size: inherit;
}

.feature img {
  width: 220px;
  height: auto;
  background-color: #333;
  border-radius: 7px;
  box-shadow: 0 0 24px rgba(254, 255, 201, 0.25);
}

#get {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100vw;
  padding: 11vh 0 10vh;
  background-image: linear-gradient(
    170deg,
    rgba(255, 255, 230, 0.55) 0%,
    rgba(255, 255, 216, 0.43) 48%,
    rgba(255, 255, 201, 0.2) 100%
  );
}

#get img {
  width: 100px;
  height: auto;
}

#get .image-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

#get a:hover {
  text-decoration-color: #feffc9;
}

#get span a:hover {
  text-decoration-color: white;
  text-decoration: underline;
}

i {
  font-style: inherit;
}

h4 {
  font-weight: 500;
  margin: 22px 0 6px;
}

#get span {
  font-size: 0.94em;
}

.code {
  font-family: 'SF Mono', 'monaco', 'Segoe UI Mono', monospace, monospace;
}

.platform {
  margin-right: 10vw;
}

.platform:last-of-type {
  margin-right: 0;
}

#github {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#github figure {
  margin: 0;
  display: flex;
  justify-content: space-around;
  width: 20vw;
  padding: 35px 27px;
  background-color: #ffdcc9;
  border-radius: 7px;
}

#github .description {
  text-align: left;
}

footer {
  margin-top: 20vh;
}

footer,
#disclaimers {
  display: flex;
  flex-flow: column nowrap;
  color: gray;
}

footer img {
  width: 53px;
  height: auto;
  margin: 0 auto;
}

#disclaimers {
  margin: 4vh 5px;
}

#disclaimers span {
  font-size: 0.75em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 6s linear infinite;
}

@media (max-width: 720px) {
  #get {
    justify-content: space-evenly;
    padding-top: 9vh;
  }

  .platform,
  .platform:last-of-type {
    margin: 4vh 5vw;
  }
}

@media (max-width: 680px) {
  #tagline-break {
    display: none;
  }

  header #main {
    height: 60vh;
  }
}

@media (max-width: 540px) {
  header #main {
    height: 70vh;
  }

  .feature img {
    margin-left: -100px;
  }

  .feature:nth-child(2n) img {
    margin-right: -100px;
  }

  .feature:nth-child(2n) .description {
    margin-right: 25vw;
  }

  .feature,
  .feature:nth-child(2n) {
    margin-left: 20px;
  }

  #github figure {
    width: 50vw;
  }

  #github .description {
    margin: 5vh auto 0;
    text-align: center;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2em;
    display: flex;
    align-items: center;
  }

  h2 img {
    width: 30px;
    margin: 7px 18px 0 0;
  }

  h3 {
    font-size: 1.5em;
  }

  nav {
    margin: 0 20px;
  }

  nav a {
    display: block;
    margin: 2vh 0;
  }

  #disclaimers span {
    font-size: 0.5em;
  }
}

@media (max-width: 350px) {
  body {
    font-size: smaller;
  }

  .feature:nth-child(2n) .description {
    margin-right: 35vw;
  }

  .feature img {
    width: 190px;
  }

  #get img {
    width: 80px;
  }

  footer img {
    width: 42px;
  }
}
